<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>

            <LI>1a55f7d82-d9-b5-a7691695: <B>Alabama</B></LI>

            <LI>1a55f7d82-d9-b5-a7691695: <B>Arizona</B></LI>

            <LI>1a55f7d82-d9-b5-a7691695: <B>California</B></LI>

            <LI>1a55f7d82-d9-b5-a7691695: <B>Colorado</B></LI>

            <LI>1a55f7d82-d9-b5-a7691695: <B>Florida</B></LI>

            <LI>: <B>Georgia</B></LI>

            <LI>: <B>Hawaii</B></LI>

            <LI>: <B>Illinois</B></LI>

            <LI>: <B>Indiana</B></LI>

            <LI>:<B>Louisiana</B></LI>

            <LI>: <B>Minnesota</B></LI>

            <LI>: <B>Mississippi</B></LI>

            <LI>: <B>Oregon</B></LI>

        </UL>
    </BODY>
</HTML>